* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.item {
    width: 100px;
    height: 100px;

}

.red {
    background-color: red;
}

.green {
    background-color: rgb(0, 255, 106);
}

.yellow {
    background-color: rgb(255, 251, 0);
    position: relative;
    right: 50px;
}

.blue {
    background-color: rgb(0, 132, 255);
}

.gray {
    background-color: rgb(70, 59, 59);
}