* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 100px;
    grid-template-areas: 
        "header"
        "content"
        "footer"
    ;
}

header {
    grid-area: header;
    background-color: red;
}

main {
    grid-area: content;

}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
}
nav ul {
    list-style-type: none;
    display: flex;
}

/* nav ul>li:not(:first-child) {

} */